.j-row-center {
    display: flex;
    align-items: center;
}

.j-row-header {
    background-color: #ff751a;
}

.j-row-nav {
    background-color: #ff751a;
}

.j-row-content {
    z-index: 999;
    margin: 10px 20px;
}

.j-row-catagory {
    background-color: #f2f2f2;
}

.j-row-detail {
    margin-top: 10px;
}

.j-col-detail {
    padding-right: 10px;
    padding-left: 10px
}

.logo {
    background-image: url('../images/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.affix {
    top: 0;
    width: 100%;
    margin: auto;
}
